<%if session[:user_id]%>
  <%=button_to 'Logout', logout_path, method: :delete%>
<%else%>
  <%=button_to 'Login', login_path, method: :get%>
<%end%>

<h1>Welcome to your Todos App</h1>
<button><a href="/lists/new">Create a new list!</a></button>
<br><br>
<div>
  <% @lists.each do |list| %>
    <div>
      <a href="/lists/<%= list.id %>"><%= list.name %></a>
      <%= button_to("Edit", edit_list_path(list), method: :get) %>
      <a href="/lists/<%= list.id %>/edit">Edit</a>
      <%= button_to("Delete", list, method: :delete) %>
  <% end %>
</div>




