<h1>Here is your <%= @list.name %> list!</h1>


<%= form_for [@list, @task] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
   <%= f.submit "Add Task!" %>
<% end %>

<br>
<br>

<div>
  <% @tasks.each do |task| %>
    <div>
      <%= task.description %>
      <br>
      <%= task.completed %>
    </div>
    <br>
    <!-- no need for the button tag here, use the button_to helper like you do on line 23. nice! -->
    <button><a href="/lists/<%= @list.id %>/tasks/<%= task.id %>/edit">Edit</a></button>
    <%=button_to 'Edit', edit_list_task_path(list_id: @list.id, id: task.id), method: :get%>
    <%=button_to 'Delete', list_task_path(list_id: @list.id, id: task.id), method: :delete%>

 <% end %>
</div>
<br>
<br>




